body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.flex{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.flex-row{
    flex-direction: row;
}
.flex-col{
    flex-direction: column;
}
.left{
    width:45%;
}
.height{
    width:45%;
}